# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.dep
*.crf
*.lst
an549_bare-metal/project/mdk/Out/template.htm
*.lnp
*.axf
*.iex
an549_bare-metal/project/mdk/Objects/gcc_template.build_log.htm
an549_bare-metal/project/mdk/Out/template.build_log.htm
*.dbgconf
*.gabriel
*.scvd
*.__i
*@*
RTE_Components.h
Pre_Include_Global.h
*.0???
*.htm
